img {
    max-height: 20em;
    max-width: 20em;
    border: 5px solid black;
    border-radius: 30%;
}

.container {
    display: flex;
    padding: 2em;
    background: rgb(56, 128, 196);
    border: 2px solid black;
    align-items: start;
    justify-content: space-around;
    margin: 2em;
    border-radius: 1em;
    height: fit-content;
}

p {
    max-width: 20em;
    font-size: 2em;
    color: black;
}

.price::after {
    content: "$";
}

.price::before {
    content: "Price: ";
}

.productName::before {
    content: "Product name: ";
}

@media screen and (width <=600px) {
    img {
        width: 8em;
        height: 8em;
    }
}